<html>
  <head>
    <title> Akiba bank ATM </title>
  </head>
  <body>
<h3> Welcome customer</h3>
  <form action="" name="cashTransfer" method="post" onsubmit="return ValidateApprovals()">
     <div><a href="/checkBalance">Check balance</a></div><p>
     <div><a href="/transferMpesa">Account to Mpesa</a></div><p>
     <div><a href="/">Internal funds transfer</a></div><p>
     <div><a href="/withdrawCash">Bank to Bank transfer</a></div><p>
     <div><a href="/">Mpesa to Bank account</a></div><p>
     </form>
     <p><input type="submit" value="<< Home"></p>
  </body>
</html>
